{{!-- <!-- NavBar ---> --}}
    <nav class="navbar navbar-inverse" id="navBackground">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">FindaSpot</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active" id="backOfHomeTag"><a href="/ownerProfile">Owner Profile</a></li>
            <li><a href="/googleMapsPage">Grab a Spot</a>
            <li><a href="/owner/application">Add a Spot</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Account</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
          </ul>
        </div>
      </nav>