{{!-- UNUSED IN PRODUCTION - SAMPLE FORMAT FOR REFERENCE --}}

<div class="panel spaceCard">
    <div class="panel-heading spaceCard-header">1234 56th Ave NE, City, ST</div>
    <div class="panel-body">

        <img class="spaceCard_img" src="https://maps.googleapis.com/maps/api/streetview?parameters&size=200x150&fov=50&location=4055%20Factoria%20Blvd%20SE%20Bellevue%20WA&key=AIzaSyAhgUQXNuEKFFe63FaEUB8KY1la5q44rdk" alt="Parking Space at X">

        <button class="spaceCard_reserveBtn">Reserve</button>

        <div>
            <span class="spaceCard_tag">Covered</span>
            <span class="spaceCard_tag">Standard</span>
            <span class="spaceCard_tag">$5.00</span>
        </div>
    </div>
    
    </div>
    