
<link rel="stylesheet" type="text/css" media="screen" href="/styles/application.css" />



<!-- Date and Time picker -->
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<link href="/styles/dateTimePickerStyle.css" rel="stylesheet">
<link href="/styles/materialize.css" rel="stylesheet">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<form id="regForm" action="/googleMapsPage">
    <h3>Your Chosen Parking Space</h3>
    <br>
    <!-- FIRST TAB -->
    <div class="tab dateTimeContainer">
        <div class="dateTime">
            <div class="date">
                <label for="start date">Start Date</label>
                <input placeholder = "" type="text" class="datepicker" name="start date">
            </div>
            
            <div class="time">
                <label for="arrival time">Arrival Time</label>   
                <input placeholder = "" type="text" class="timepicker" name="arrival time">
            </div>
        </div>
        
        <div class="dateTime">
            <div class="date">
                <label for="end date">End Date</label>
                <input placeholder = "" type="text" class="datepicker" name="end date">
            </div>
            <div class="time">
                <label for="leaving time">Leaving Time</label>
                <input placeholder = "" type="text" class="timepicker" name="leaving time">
            </div>    
        </div>

    </div>
    <!-- SECOND TAB -->
    <div class="tab">General Location
        <p><input placeholder="City, State, Zipcode" name="location" id="autocomplete"></p>
    </div>
    <!-- THIRD TAB -->
    <div class="tab">Parking Spot Description
        <p><input placeholder="Garage or Outdoor" name="parkingSpotType"></p>
        <p><input placeholder="Compact or Regular" name="parkingSpotSize"></p>
    </div>
    <!-- FOURTH TAB -->
    <div class="tab">Price Range
        <p><input placeholder="Min Price" name="minPrice"></p>
        <p><input placeholder="Max Price" name="maxPrice"></p>
    </div>
    <!-- FIFTH TAB -->
    <div class="tab">Summary
        <ol>
            <li>[Owner's name]</li>   
            <li>Parking space type (Garage or Outdoor):</li>    
            <li>Parking size (Compact or Regular)</li>    
            <li>Start day:</li>    
            <li>End day:</li>    
            <li>General location:</li>    
            <li>Price per day: $</li>     
            <li>Description: </li>
        </ol> 
    </div>

    <div style="overflow:auto;">
      <div style="float:right;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
      </div>
    </div>
    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>

    </div>
</form>

<!-- Moment.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js" integrity="sha256-ABVkpwb9K9PxubvRrHMkk6wmWcIHUE9eBxNZLXYQ84k=" crossorigin="anonymous"></script> 

{{!-- GoogleMap JS code --}}
<script src="/js/MapJS.js"></script>

<script src="/js/application.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/daysCalculation.js"></script>
