<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Find A Spot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/styles/application.css" />
    
    

    <script src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>

    <!-- Date and Time picker -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   
    <link href="../public/styles/dateTimePickerStyle.css" rel="stylesheet">
    <link href="../public/styles/materialize.css" rel="stylesheet">
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    

</head>
<body>

<form id="regForm" action="/action_page.php">
    <h3>Your Chosen Parking Space</h3>
    <br>
    <!-- FIRST TAB -->
    <div class="tab dateTimeContainer">
        <div class="dateTime">
            <div class="date">
                <label for="start date">Start Date</label>
                <input placeholder = "" type="text" class="datepicker">
            </div>
            
            <div class="time">
                <label for="arrival time">Arrival Time</label>   
                <input placeholder = "" type="text" class="timepicker">
            </div>
        </div>
        
        <div class="dateTime">
            <div class="date">
                <label for="end date">End Date</label>
                <input placeholder = "" type="text" class="datepicker">
            </div>
            <div class="time">
                <label for="leaving time">Leaving Time</label>
                <input placeholder = "" type="text" class="timepicker">
            </div>    
        </div>

    </div>
    <!-- SECOND TAB -->
    <div class="tab">General Location
        <p><input placeholder="City, State, Zipcode" oninput="this.className = ''" name="location"></p>
    </div>
    <!-- THIRD TAB -->
    <div class="tab">Parking Spot Description
        <p><input placeholder="Garage or Outdoor" oninput="this.className = ''" name="parkingSpotType"></p>
        <p><input placeholder="Compact or Regular" oninput="this.className = ''" name="parkingSpotSize"></p>
    </div>
    <!-- FOURTH TAB -->
    <div class="tab">Price Range
        <p><input placeholder="Min Price" oninput="this.className = ''" name="minPrice"></p>
        <p><input placeholder="Max Price" oninput="this.className = ''" name="maxPrice"></p>
    </div>
    <!-- FIFTH TAB -->
    <div class="tab">Summary
        <ol>
            <li>[Owner's name]</li>   
            <li>Parking space type (Garage or Outdoor):</li>    
            <li>Parking size (Compact or Regular)</li>    
            <li>Start day:</li>    
            <li>End day:</li>    
            <li>General location:</li>    
            <li>Price per day: $</li>     
            <li>Description: </li>
        </ol> 
    </div>
    <!-- SIXTH TAB -->
    <div class="tab">Checkout

    </div>
    <div style="overflow:auto;">
      <div style="float:right;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
      </div>
    </div>
    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>
  </form>

 
    <script src="../public/js/application.js"></script>
    <script src="../public/js/materialize.js"></script>
    <script src="../public/js/daysCalculation.js"></script>
</body>
</html>