<link rel="stylesheet" href="/styles/googleStyles.css">

{{!-- <!-- Bootstrap CSS --> --}}
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> --}}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

{{!-- <!-- jquery --> --}}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{{> navBar}}

{{!-- <!--Parking Spots div and Map div--> --}}
    <div id="wrapper">
        <div id="aviSpotsTable">
          <div id="cardSection" class="row container">
            <div class="col-md-4 d-flex justify-content-center mb-2">
                <div class="card" style="width: 18rem;">
                    <div>
                    <img class="card-img-top" src="" alt="">
                </div>
                    <div id="eventCard" class="card-body">
                        <h5 class="card-title">Parking Spot</h5>
                        <p class="card-text">Description</p>

                        <div class="row" id = "searchForm">
                            <div class="tab dateTimeContainer">
                                <div class="dateTime">
                                    <div class="date">
                                        <label for="start date">Start Date</label>
                                        <input placeholder = "" type="text" class="datepicker" name="startDate">
                                    </div>
                                    
                                    <div class="time">
                                        <label for="arrival time">Arrival Time</label>   
                                        <input placeholder = "" type="text" class="timepicker" name="arrivalTime">
                                    </div>
                                </div>
                                  
                                  <div class="dateTime">
                                      <div class="date">
                                          <label for="end date">End Date</label>
                                          <input placeholder = "" type="text" class="datepicker" name="endDate">
                                      </div>
                                      <div class="time">
                                          <label for="leaving time">Leaving Time</label>
                                          <input placeholder = "" type="text" class="timepicker" name="leavingTime">
                                      </div>    
                                  </div>
                                  <button id="searchSubmit">Submit</button>
                              </div>

                              <input id="autocomplete" class="address" type="text">Address</input>
                              <input id="spaceCover">Cover</input>
                              <input id="spaceSize">Size</input>
                        </div>
                        
                        {{!-- <div id="availableSpace" class="resultList">
                          <h3>Available Parking Spots:</h3>
                          <ul id="parking-space-list" class="list-group">
                            {{#each spaces}}
                            <li data-id="{{this.id}}" class="list-group-item">
                              <a href="googleMapsPage/{{this.id}}">
                                {{this.address}}
                              </a>
                            </li>
                            {{/each}}
                          </ul>
                        </div>  --}}
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div id="map" class="mapRight"></div>
    </div>




    {{!-- <!--- Google API JAVASCRIP CODE---> --}}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcHE7ZaBAeXI9teNooIxDRRcj4pjZprUw&callback=initMap" async defer></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcHE7ZaBAeXI9teNooIxDRRcj4pjZprUw&libraries=places&callback=initAutocomplete"
      async defer></script>
  {{!-- GoogleMap JS code --}}
  <script src="/js/mapJS.js"></script>
  <script src="/js/driverPage.js"></script>
