{{!-- <!--Parking Spots div and Map div--> --}}
    <div id="wrapper">
        <div id="aviSpotsTable">></div>
        <div id="map" class="mapRight"></div>
    </div>
    
    
{{!-- <!--- Google API JAVASCRIP CODE---> --}}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcHE7ZaBAeXI9teNooIxDRRcj4pjZprUw&callback=initMap" async defer></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcHE7ZaBAeXI9teNooIxDRRcj4pjZprUw&libraries=places&callback=initAutocomplete"
        async defer></script>
    <script src="assets/app.js"></script>