
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{{!-- Linked CSS style sheet --}}
<link rel="stylesheet" href="/styles/ourStory.css">

 {{> navBar}}

</div class="container">
    <div class="content row">
        <div class="col-md-12">
            <h1>
                Our Story...
            </h1>
            <p id="ourStoryBody">
                The FindaSpot website is designed for all seattlites.
            </p>
        </div>
    </div>

    <!-- Card Section -->
    <div class="content row">
        <!--Card1-->
        <div class="col-md-3 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="" alt="">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="https://github.com/" class="btn btn-primary">Github</a>
                </div>
            </div>
        </div>

        <!--Card2-->
        <div class="col-md-3 d-flex justify-content-center">   
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="" alt="">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="https://github.com/" class="btn btn-primary">Github</a>
                </div>
            </div>
        </div>

        <!--Card3-->
        <div class="col-md-3 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="" alt="Hy Huynh">
                <div class="card-body">
                    <h5 class="card-title">Hy Huynh</h5>
                    <p class="card-text">A biologist and chemist who found passion in the technology field. Her learning journey is endless in this fascinating and ever changing world of science and technology. </p>
                    <a href="https://github.com/hyxhuynh" class="btn btn-primary">Github</a>
                </div>
            </div>
        </div>

        <!--Card4-->
        <div class="col-md-3 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="" alt="">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="https://github.com/" class="btn btn-primary">Github</a>
                </div>
            </div>
        </div>
    </div>
</div>