
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{{!-- Linked CSS style sheet --}}
<link rel="stylesheet" href="/styles/ourStory.css">

 {{> navBar}}

</div class="container">
    <div class="content row">
        <div class="col-md-12">
            <h1>
                Our Story...
            </h1>
            <p id="ourStoryBody">
                The FindaSpot app is designed for Seattleites like you and me, who are desperately searching for a parking spot to make it to that one meetup or the dinner reservation on friday night. Our goal was to create an site that is useful for all of us, challenge ourselves, and improve our skills in fullstack web design. FindaSpot is an ambitious project and we have many features that could simply not make the plate. We hope to continue to expand on it and implement some of those additional features. Thank you and enjoy the application.
            </p>
        </div>
    </div>

    <!-- Card Section -->
    <div class="content row">
        <!--Card1-->
        <div class="col-md-3 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/michael.png" alt="Michael Pennella">
                <div class="card-body">
                    <h3 class="card-title">Michael Pennella</h3>
                    <p class="card-text">The tech community is where I feel most comfortable. Long hours of Back-end programming is where I shine.</p>
                    <a target=”_blank href="https://github.com/MPPennella" class="btn btn-primary">Github</a>
                </div>
            </div>
        </div>

        <!--Card2-->
        <div class="col-md-3 d-flex justify-content-center">   
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/trae.png" alt="Trae Shanks">
                <div class="card-body">
                    <h3 class="card-title">Trae Shanks</h3>
                    <p class="card-text">Change is the only constant. Change requires new learning. I plan to change with technology as it continues to evolve.</p>
                    <a target=”_blank href="https://github.com/shankstee" class="btn btn-primary">Github</a>
                </div>
            </div>
        </div>

        <!--Card3-->
        <div class="col-md-3 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/hy.png" alt="Hy Huynh">
                <div class="card-body">
                    <h3 class="card-title">Hy Huynh</h3>
                    <p class="card-text">A biologist and chemist who found passion in the technology field. Her learning journey is endless in this fascinating and ever changing world of science and technology. </p>
                    <a target=”_blank href="https://github.com/hyxhuynh" class="btn btn-primary">Github</a>
                </div>
            </div>
        </div>

        <!--Card4-->
        <div class="col-md-3 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/amber.png" alt="Amber Struckman">
                <div class="card-body">
                    <h3 class="card-title">Amber Struckman</h3>
                    <p class="card-text">Amber is a full stack developer originally from Ohio and currently lives in Seattle.  She enjoys developing, the outdoors, and spending time with family.</p>
                    <a target=”_blank href="https://github.com/amberstruckman" class="btn btn-primary">Github</a>
                </div>
            </div>
        </div>
    </div>
</div>