<link rel="stylesheet" href="/styles/googleStyles.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


{{> navBar}}

      {{!-- Current spot posted card --}}

      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://via.placeholder.com/200x150" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Photo up top and then information about current posted spot.</p>
  </div>
</div>

<a href="/owner/application"><button>Add a new SPOT</button></a>