<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="/styles/googleStyles.css">
<link rel="stylesheet" type="text/css" media="screen" href="/styles/owner.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/styles/spaceCard.css" />

{{> navBar}}

      {{!-- Current spot posted card --}}
<div class="container contentDiv">
  <div class="row">
    <h2 class="col-md-12 ownerProfileHeader">Your Spaces</h2>
  </div>

  <div class="row">
    <div class="col-md-12 " id="ownerSpaces"></div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <a href="/owner/application" class="btn addSpotBtn">Add a new SPOT</a>
    </div>
  </div>
</div>



<script src ="/js/ownerProfile.js"></script>