<link rel="stylesheet" href="/styles/googleStyles.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" media="screen" href="/styles/owner.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/styles/spaceCard.css" />

{{> navBar}}

      {{!-- Current spot posted card --}}
<div class="container contentDiv">
  <div class="row">
    <h2 class="col-md-12 ownerProfileHeader">Your Spaces</h2>
  </div>
  <div class="row">

    <div class="col-md-12 " id="ownerSpaces">
      <div class="panel-heading row">
        <img class="col-12" src="https://via.placeholder.com/200x150" alt="Card image cap">
      </div>
      <div class="panel-body row">
        <p class="col-xs-12 col-md-10 col-md-offset-1">Photo up top and then information about current posted spot.</p>
      </div>
      <div class="panel-footer row">
        <a href="/owner/application" class="btn col-md-6 col-md-offset-3">Add a new SPOT</a>
      </div>
    </div>

  </div>
</div>



<script src ="/js/ownerProfile.js"></script>