<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/styles/googleStyles.css">
<link rel="stylesheet" type="text/css" media="screen" href="/styles/application.css" />
<!-- Date and Time picker -->
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

{{!-- <link href="/styles/dateTimePickerStyle.css" rel="stylesheet"> --}}
{{!-- <link href="/styles/materialize.css" rel="stylesheet"> --}}

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{{> navBar}}

<form id="regForm">
    <h4>Your Reservation is confirmed</h4>
    <!-- One "tab" for each step in the form: -->
    <!-- FIRST TAB -->
    <div class="tab">
        <p>
        </p>
        
    </div>

</form>

{{!-- GoogleMap JS code --}}
<script src="/js/mapJS.js"></script>

<!-- Moment.js -->
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js" integrity="sha256-ABVkpwb9K9PxubvRrHMkk6wmWcIHUE9eBxNZLXYQ84k=" crossorigin="anonymous"></script>  --}}

<!-- JavaScript/jQuery -->
<script src="/js/application.js"></script>
{{!-- <script src="/js/materialize.js"></script> --}}
{{!-- <script src="/js/daysCalculation.js"></script> --}}

