.list-group-item {
  line-height: 2.5;
}

/* Amber- CSS for auth */
.header {
	background-color: #272A57;
    border: 2px;
}

.header .image {
width: 100%;
height: auto;
background-repeat: no-repeat;
  color: #272A57;
  border:2px solid ;
}

.header{
	text-align: center;
}

.header .image, 
.header .text {
	display: inline-block;
}
/* .image{
	text-align: center;
} */

body {
  background-image: url(../images/auth-background.jpg);
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.panel-login {
    margin: 50px 0;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.panel-login>.panel-heading {
	color: #272A57;
	text-align:center;
	border: none;
	margin-bottom: -1px;
	padding: 0 15px;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
	line-height: 50px;
	/* border-top: 1px solid rgba(0,0,0,0.2); */
	border-radius: 5px 5px 0 0;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
	background-color: #59A2FE;
	background-color: rgba(89,162,254, 0.8);
	/* background-color: rgba(39,42, 87, 0.9); */
	/* background-color: #272A57; */
}
.panel-login>.panel-heading a.active{
  color: #272A57;
  background-color: #fff;
	font-size: 16px;
	/* margin-right: 1px; */
}
.panel-body {
  /*margin-top: -1px; */
  background: #fff;
  padding: 20px 0;
  position: relative;
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}

.panel .btn {
	background-color: #59A2FE;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59A2FE;
}
.panel .btn:hover,
.panel .btn:focus {
	color: #fff;
	background-color: #272A57;
	border-color: #272A57;
}

.navbar-header {
	margin: 0px;
	background-image: url(//LogoImage/FindaLogo.JPG);
	background-color: #272A57;
	width: 100%;
}

.modal.show {
	display: block;
}