#map {
    height: 650px;
    border-radius: 15px;
}

#navBackground {
    background-color: #272A57;
    border-bottom: solid black 2px;
}

.navbar-brand {
    color: #59A2FE !important;
    font-weight: bold;
}

a {
    color: #B1D3FE !important;
}

a:hover {
    color:  #59A2FE !important;
}

.mapRight {
    width: 25%;
    float: right;
}

#aviSpotsTable {
    float: left;
    width: 74%;
    background-color: #272A57;
    height: 650px;
    border: solid 2.5px #59A2FE;
    border-radius: 15px;
    
}

#wrapper {
    margin: 20px;
}

body {
    background-color: black;
}

#backOfHomeTag {
    color: #272A57 !important; 
}

#searchNav {
    margin-left: 45%
}