* {
    box-sizing: border-box;
}


#map {
    height: 650px;
    border-radius: 15px;
}

#navBackground {
    background-color: #272A57;
    border-bottom: solid black 2px;
}

.navbar-brand {
    color: #59A2FE !important;
    font-weight: bold;
}

a {
    color: #B1D3FE !important;
}

a:hover {
    color:  #59A2FE !important;
}

.mapRight {
    width: 25%;
    float: right;
    
}

#aviSpotsTable {
    float: left;
    width: 74%;
    min-height: 650px;    
}

#wrapper {
    margin: 20px;
}

body {
    background-color: black;
}

#backOfHomeTag {
    color: #272A57 !important; 
}

#searchNav {
    margin-left: 45%
}

/* Style for Filtering bar */

  .filterPosition {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* width: 50% */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
  }

  .price {
    position: relative;
    display: block;
    /* width: 20em;
    height: 3em; */
    line-height: 3;
    /* background: orange; */
    overflow: hidden;
    border-radius: .25em;
    margin-right: 10px;
  }

  h1 {
    text-align: center;
  }
  /* Reset Select */
  select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: white;
    background-image: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: block;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: orange;
    overflow: hidden;
    border-radius: .25em;
    margin-right: 10px;
  }
  select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color:  #B1D3FE;
    cursor: pointer;
  }
  select::-ms-expand {
    display: none;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #26a69a;
    color: #272A57;
    pointer-events: none;
  }
  /* Transition */
  .select:hover::after {
    color: #B1D3FE;
  }
  .select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }

  .contentDiv {
    /* float: left; */
    /* width: 74%; */
    background-color: #272A57;
    border: solid 2.5px #59A2FE;
    border-radius: 15px;
    margin-bottom: 15px;
}

.ownerProfileHeader {
    color: #B1D3FE;
    text-align: center;
}

