* {
    box-sizing: border-box;
}


#map {
    height: 650px;
    border-radius: 15px;
}

#navBackground {
    background-color: #272A57;
    border-bottom: solid black 2px;
}

.navbar-brand {
    color: #59A2FE !important;
    font-weight: bold;
}

a {
    color: #B1D3FE !important;
}

a:hover {
    color:  #59A2FE !important;
}

.mapRight {
    width: 25%;
    float: right;
    
}

#aviSpotsTable {
    float: left;
    width: 74%;
    min-height: 650px;    
}

#wrapper {
    margin: 20px;
}

body {
    background-color: black;
}

#backOfHomeTag {
    color: #272A57 !important; 
}

#searchNav {
    margin-left: 45%
}


/* Style for Filtering bar */


.filterPosition1 {
    display: flex;
    justify-content: flex;
    flex-direction: row;
    margin: 10px;
}

input {
    width: 300px;
}

.filterPosition2 {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.price {
    position: relative;
    display: block;
    /* width: 20em;
    height: 3em; */
    line-height: 3;
    /* background: orange; */
    overflow: hidden;
    border-radius: .25em;
    margin-right: 10px;
}

.address {
    position: relative;
    display: block;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
}

h1 {
text-align: center;
}
/* Reset Select */
select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: white;
    background-image: none;
}
/* Custom Select */
.select {
    position: relative;
    display: block;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: orange;
    overflow: hidden;
    border-radius: .25em;
    margin-right: 10px;
}

select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color:  #B1D3FE;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #26a69a;
    color: #272A57;
    pointer-events: none;
}
/* Transition */
.select:hover::after {
    color: #B1D3FE;
}
.select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

/* Submit button */
#filterSpotSubmit{
    background-color: #26a69a;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    /* font-family: Raleway; */
    cursor: pointer;
}
  .contentDiv {
    /* float: left; */
    /* width: 74%; */
    background-color: #272A57;
    border: solid 2.5px #59A2FE;
    border-radius: 15px;
    margin-bottom: 15px;
}

.ownerProfileHeader {
    color: #B1D3FE;
    text-align: center;
}

.addSpotBtn {
    background: #511980;

    font-size: 24px;
    font-weight: bold;

    border-color: #59A2FE;
    border-width: 2px;

    padding: 10px;
    margin: 20px;
}